{% extends "base.html" %}
{% block title %}
Graph
{% endblock %}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{ name1 }} <small>Sessions</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content2">
              <div id="graph_area" style="width:100%; "></div>
            </div>
          </div>
        </div>
        <script type="text/javascript">
        $(function () { 
          
        Morris.Area({
          element: 'graph_area',
          data: [      
           {% for message in messages %}
                       
                            {period: '{{ messages[message].time }}',
                             PM10: {{ messages[message].pm10 }},
                             'PM2.5': {{ messages[message].pm2 }}, 
                             PM1: {{ messages[message].pm1 }}
                         },
                        
                {% endfor %}     
                


          ],
          xkey: 'period',
          ykeys: ['PM10','PM2.5','PM1'],
          lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
          labels: ['PM10','PM2.5','PM1'],
          pointSize: 1,
          parseTime: false,
          hideHover: 'auto',
          resize: true
        });   
        </script>     
{% endblock %}