{% extends "base.html" %}
{% block title %}
Graph
{% endblock %}
{% block content %}
<div id="container" class="col-md-6 col-sm-6 col-xs-12" style="width: 1000px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {

    if("{{name}}" == "CO-CO2 Graph")
    {
        var data = [];
        var n1 = "{{n1}}";
        var n2 = "{{n2}}";
        var n3 = "";
        data.push(
            {% for date,vals in co %}
                [{{ date }},{{vals}}],
            {% endfor %}
        );
        var data1 = [];
        data1.push(
            {% for date,vals in co2 %}
                [{{ date }},{{vals}}],
            {% endfor %}
        );    
        var data2 = []; 
    }
    if("{{name}}" == "PM Graph")
    {
        var data = [];
        var n1 = "{{n1}}";
        var n2 = "{{n2}}";
        var n3 = "{{n3}}";
        data.push(
            {% for date,vals in pm1 %}
                [{{ date }},{{vals}}],
            {% endfor %}
        );
        var data1 = [];
        data1.push(
            {% for date,vals in pm2 %}
                [{{ date }},{{vals}}],
            {% endfor %}
        );    
        var data2 = []; 
        data2.push(
            {% for date,vals in pm10 %}
                [{{ date }},{{vals}}],
            {% endfor %}
        );

    }
    if("{{name}}" == "Temperature-Humidity Graph")
    {
        var data = [];
        var n1 = "{{n1}}";
        var n2 = "{{n2}}";
        var n3 = "";
        data.push(
            {% for date,vals in temp %}
                [{{ date }},{{vals}}],
            {% endfor %}
        );
        var data1 = [];
        data1.push(
            {% for date,vals in humid %}
                [{{ date }},{{vals}}],
            {% endfor %}
        );    
        var data2 = []; 
    }
    
    var chart = new Highcharts.Chart({
        title : {
            text: '{{name}}'   
        },
        global: {
            useUTC: false,
        },
        chart: {
            renderTo: 'container',
            zoomType: 'xy'
        },
        xAxis: {
            type : 'datetime'
        },
        yAxis : {
            title: {
                text: '{{unit}}'
            }          
        },
        series: [{ name: n1 ,data: data},{name: n2, data:data1},{name: n3, data:data2}]
    
    });
});
</script>

{% endblock %}