{% extends "base.html" %}
{% block title %}
Graph
{% endblock %}
{% block content %}
<div id="container" class="col-md-6 col-sm-6 col-xs-12" style="width: 1000px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
   var title = {
      text: '{{name1}}'   
   };
   var subtitle = {
      text: ''
   };
   var xAxis = {
      categories: [

     			{% for msg in messages3 %}
         		{{ messages3[msg] }},
         		{% endfor %}

      ]
   };
   var yAxis = {
      title: {
         text: 'Temperature (\xB0C)'
      },
      plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
   };   

   var tooltip = {
      valueSuffix: '\xB0C'
   }

   var legend = {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0,
      floating: true
   };

   var series =  [
      {
         name: '{{n1}}',
         data: [

         		{% for msg in messages %}
         		{{ messages[msg] }},
         		{% endfor %}

         ]
      }, 
      {
         name: '{{n2}}',
         data: [

         		{% for msg in messages1 %}
         		{{ messages1[msg] }},
         		{% endfor %}

         ]
      },
      {
         name: '{{n3}}',
         data: [

         		{% for msg in messages2 %}
         		{{ messages2[msg] }},
         		{% endfor %}

         ]
      }
   ];

   var json = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.tooltip = tooltip;
   json.legend = legend;
   json.series = series;

   $('#container').highcharts(json);
});
</script>

{% endblock %}