{% extends "base.html" %}
{% block title %}
Graph
{% endblock %}
{% block content %}
<div id="container" class="col-md-6 col-sm-6 col-xs-12" style="width: 1000px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
    var chart = new Highcharts.Chart({
        title : {
            text: '{{name}}'   
        },
        global: {
            useUTC: false,
        },
        chart: {
            renderTo: 'container',
            zoomType: 'xy',
            type: 'spline',
            animation: Highcharts.svg, // don't animate in old IE
            marginRight: 10,
            events: {
                load: function () {

                    // set up the updating of the chart each second
                    var series = this.series[0];
                    setInterval(function () {
                        var x = (new Date()).getTime(), // current time
                            y = Math.random();
                        series.addPoint([x, y], true, true);
                    }, 1000);
                }
            }
        },
        xAxis: {
            type : 'datetime',
            tickPixelInterval: 3600
        },
        yAxis : {
            title: {
                text: '{{unit}}'
            }          
        },

        exporting: {
            enabled: false
        },
        series: [{
            name: 'Random data',
            data: (function () {
                // generate an array of random data
                var data = [],
                    time = (new Date()).getTime(),
                    i;

                for (i = -999; i <= 0; i += 1) {
                    data.push([
                        time + i * 1000,
                        Math.round(Math.random() * 100)
                    ]);
                }
                return data;
            }())
        }]
    
    });
});
</script>

{% endblock %}